section.projects-content {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-end: 200px;
}

@media (min-width: 768px) {
    section.projects-content {
        margin-inline-start: 100px;
        margin-inline-end: 100px;
        margin-block-end: 100px;
    }
}

p {
    font-size: 18px;
    /* Set the minimum font size */
}

@media (min-width: 400px) {
    p {
        font-size: 1.2rem;
        /* Increase the font size for wider screens */
    }
}

@media (min-width: 1500px) {
    p {
        font-size: 1.4rem;
        /* Increase the font size for even wider screens */
    }
}

img {
    display: block;
    /* Make the image a block-level element */
    margin: auto;
    margin-block-start: 50px;
    margin-block-end: 50px;
    /* Center the image horizontally */
    width: 100%;
}

@media (min-width: 768px) {
    img {
        width: 80%;
    }
}

h1 {
    text-align: center;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

h2 {
    width: 100%;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.navbar {
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.container{
    align-content: center;
}